<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my</title>
    <link rel="stylesheet" href="/src/styles/my.css" />
    <script src="/public/js/popup.js"></script>
</head>
<body>
    <div>
        <div id="my">
            <div class="PROFILE_IMG">
                <img src="/public/img/머리만(색깔).png" alt="프로필사진">
            </div>
            <div class="MYPROFILE">
                <p class="NICKNAME">읽씹하는 공대생</p>
            <button type="button" class="btn"></button>
            </div>
            <div class="MYDETAIL">
                <p class="RANK">🏅1 th</p>
                <p class="LEVEL">LV.25</p>
                <progress id="progress" value="70" min="0" max="100"></progress>
                <p class="STAMP">📱777</p>
                <p class="USER_LIKE">❤️777</p>
                <p class="EXP">EXP.7777</p>
            </div>
            <button type="button" id="popup-button">부기몬카드</button>
            <button type="button" id="popup-button2">주소검색</button>
            
        </div>
         
    </div>
   
</body>
</html>