:root {
  /* color */
  --magenta: #e6007e;
  --blue: #0e4194;
  --yellow: #ffcc03;
  --light-blue: #0188cc;
  --gray1: #eeeeee;
  --gray2: #d9d9d9;
  --gray3: #b5b5b5;
  --gray4: #999999;
  --black: #000000;

  /* font-size */
  --big: 24px;
  --regular: 16px;
  --small: 14px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--regular);
}

li {
  list-style: none;
}

a {
  color: var(--black);
  text-decoration: none;
}
a:hover {
  color: var(--black);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0; /* 초기에 투명 상태로 설정 */
  z-index: -1; /* z-index를 -1로 설정하여 뒤로 숨깁니다 */
  pointer-events: none; /* 배경은 이벤트를 받지 않도록 설정 */
}

.show {
  opacity: 1;
  z-index: 1000;
  pointer-events: auto; /* 모달 팝업이 열릴 때 이벤트를 받도록 설정 */
  transition: all 0.5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  /* 임시 지정 */
  width: 400px;
  height: 500px;

  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);

  white-space: normal;

  border-radius: 10px;
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

#boogicard_img {
  width: 300px;
  height: 400px;
  position: absolute;
  left: 12%;
  top: 5%;
  z-index: 1; /* 보다 낮은 z-index 값을 설정 */
}

.card_name {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 27%;
  top: 7%;
  z-index: 2; /* 더 높은 z-index 값을 설정하여 앞으로 가져옵니다 */
}

.random_img {
  width: 240px;
  height: 150px;
  position: absolute;
  left: 20%;
  top: 14%;
  z-index: 2; /* 더 높은 z-index 값을 설정하여 앞으로 가져옵니다 */
}

.card_content {
  width: 240px;
  height: 180px;

  position: absolute;
  left: 20%;
  top: 47%;
  z-index: 2; /* 더 높은 z-index 값을 설정하여 앞으로 가져옵니다 */
}

#cardclose {
  position: absolute;
  top: 22%;
  left: 63%;
  z-index: 999;

  display: inline-block;
  border: 2px solid var(--gray2);
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.download {
  position: absolute;
  top: 85%;
  left: 40%;
  width: 80px;
  height: 30px;
}

.downloadbtn {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 35%;
  top: 88%;
  background-color: transparent;
  color: var(--black); /* 텍스트 색상 설정 */
  font-size: var(--small);
  text-decoration: none solid rgb(21, 23, 26);
  vertical-align: middle;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /* 그림자 효과 추가 */
  border: 3px solid transparent; /* 테두리 색상 초기화 */
  border-image: linear-gradient(45deg, #72bab3, #eccf63) 1; /* 그라데이션 테두리 추가 */
  border-image-slice: 1;
  transform: skew(-20deg);
}

.downloadbtn::before {
  content: '다운로드';
  display: block;
  transform: skewX(20deg); /* 텍스트를 반대로 기울이지 않습니다 */
}
